body{
    padding: 0;
    margin: 0;
}
header, footer{
    width: 900px;
    margin: 10px auto;
    background-color: gray;
}
.main{
    width: 900px;
    margin: 0px auto;
    background-color: lightgray;
}
.main_menu{
    float: left;
    width: 200px;
}
.content{
    width: 700px;
    margin-left: 200px;
}
.clear{
    clear: both;
}
.item{
    margin: 10px;
    font-size: 18px;
}
.row{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}
.row img{
    width: 200px;
    margin: 10px;
}